<div class="contents row">
    <div class="success container">
      <h3 class="z-depth-2 red-text">
          削除が完了しました、ハンバーグ！！！
          <h1 class="sound-switch"></h1>
          <%= audio_tag("han.mp3",id:"audio") %>
      </h3>
      <div>
      	<%= link_to "投稿一覧へ戻る", root_path, class: "btn sound-switch" %>
      </div>
    </div>
</div>