.nav-wrapper {
	background-image: url(https://www.beiz.jp/web/images_P/wood-texture/wood-texture_00035.jpg.pagespeed.ce.GQNFNBO82_.jpg);
}

.header {
	position: fixed;
	top: 0;
	z-index: 1;
}

.red-text{
	font-size: 30px;
}

.btn {
	"waves-effect waves-light btn"
	<h1 class="sound-switch">Humburg</h1>
    <%= audio_tag("han.mp3",id:"audio") %>
    background-color: white;
}

.list_class {
	width: 100%;
}

.img {
	height: 100%;
	width: 100%;
}

.content_post {
	width: 80%;
	height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    margin-top: 70px;
}

.more_list {
	float: right;
}

.nav-icon {
	color: white;
	font-size: 30px;
	text-decoration: none;
}

.title-icon {
	color: white;
	font-size: 30px;
	text-decoration: none;
}

.contents {
	padding-bottom: 80px;
}

.footer {
	font-weight: bold;
	text-align: center;
	height: 60px;
	line-height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0;
	font-size: 20px;
	color: white;
	background-image: url(https://www.beiz.jp/web/images_P/wood-texture/wood-texture_00035.jpg.pagespeed.ce.GQNFNBO82_.jpg);
}

